/********************
******CSS RESET******
*********************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/********************
******MAIN***********
*********************/

body {
  font-family: 'lato', sans-serif;
}

header {
  height: 750px;
  background: #ccc;
  background-image: url('images/ifud.png');
  background-size: cover;
}

.wrapper {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  flex-basis: 1000px;
  margin: 0 auto;
  padding: 10px;
}

nav {
  height: 50px;
}
nav ul {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  padding: 10px;
  text-transform: uppercase;
  font-size: 1em;
}

nav ul li a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-family: 'lato', sans-serif;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

.logo {
  height: 50px;
  width: 50px;
}

.logo img {
  filter: invert(100%);
}

.hero-text {
  text-align: center;
  font-family: lato;
  color: #fff;
  margin-top: 220px;
}

.hero-text h1 {
  font-size: 85px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.hero-text h2 {
  font-family: 'Times', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
}

.hero-text button {
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 35px;
  padding: 20px 70px 25px 70px;
  background-color: transparent;
  border: solid 2px #fff;
  border-radius: 2px;
  font-weight: bold;
}

.hero-text p {
  margin-top: 36px;
  text-transform: uppercase;
}

.hero-text span {
  text-decoration: underline;
}

/********************
******FEATURES*********
*********************/

.features {
  height: 368px;
  display: flex;
  align-items: center;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-title {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}

.details {
  font-size: 14px;
  font-weight: lighter;
  margin-bottom: 10px;
}

.feature-title::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  background-color: #f68174;
  margin: 0 auto;
  position: relative;
  top: 4px;
}

.frame {
  height: 100px;
  width: 100px;
  border: solid 3px #000;
  border-radius: 100%;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame img {
  max-height: 52px;
}

/********************
******ABOUT*********
*********************/

.about {
  height: 755px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;

}

.container {
  display: flex;
  max-width: 1000px;
  height: inherit;
}

.mockup {
  margin-right: 100px;
  align-self: flex-end;
  position: relative;
}

.iphone {
  height: 655px;
  width: 470px;

}

.screen {
  position: absolute;
  top: 95px;
  width: 268px;
  left: 103px;
  height: 469px;
}

.text {
  margin-top: 160px;
}

.about-title {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 12px;
  letter-spacing: 1px;
}

.about p {
  font-size: 14px;
  font-weight: lighter;
  margin-bottom: 30px;
  max-width: 450px;
  letter-spacing: 0.5px;
  text-align: justify;
  line-height: 25px;
}

.about-title::after {
  content: '';
  display: block;
  width: 78px;
  height: 4px;
  background-color: #f68174;
  position: relative;
  top: 4px;
}

.app-download img {
  height: 40px;
}

/********************
******TESTIMONIALS***
*********************/

.testimonials {
  height: 400px;
  background-image: url('images/testimonials-background.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.testimonials img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin-bottom: 20px;
}

.container-testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote {
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 15px;
}

.quote:nth-child(3) {
  margin-bottom: 25px;
}

.author {
  font-size: 15px;
  font-weight: lighter;
  font-style: italic;
  margin-bottom: 30px;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active, .dot:hover {
  background-color: #fff;
}

/********************
******NUMBERS*********
*********************/

.numbers {
  font-family: 'lato', sans-serif;
  height: 145px;
  display: flex;
  align-items: center;
}

.number {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbers h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

.numbers p {
  font-size: 14px;
  font-weight: 300;
}

/********************
******FOOTER*********
*********************/

footer {
  color: #8b8b8b;
  font-size: 12px;
  font-family: 'lato', sans-serif;
  background-color: #eee;
  height: 80px;
}

footer .before {
  height: 5px;
  background-color: #e3e3e3;
}

footer .design {
  text-transform: uppercase;
}

footer .design a {
  text-decoration: none;
  color: #000;
}

footer .design a:hover {
  text-decoration: underline;
}